---
layout: default
title : Others
navbar_title: Others
---

<div class="row">
    <div class="col-12">
        <div class="card border-0 shadow-sm bg-white content-card">
            <div class="card-body p-4">
                <h3 class="mb-3">Others</h3>
                <p>Useful links:</p>
                <ul class="mb-0">
                    <li><a href="mailto:{{ site.data.profile.email | encode_email }}">Email</a></li>
                    {% if site.data.profile.github %}
                    {%- if site.data.profile.github contains 'github.com' -%}
                    {%- assign github_url = site.data.profile.github -%}
                    {%- else -%}
                    {%- assign github_url = 'https://github.com/' | append: site.data.profile.github -%}
                    {%- endif -%}
                    <li><a target="_blank" href="{{ github_url }}">GitHub</a></li>
                    {% endif %}
                    {% if site.data.profile.linkedin %}
                    {%- if site.data.profile.linkedin contains 'linkedin.com' -%}
                    {%- assign linkedin_url = site.data.profile.linkedin -%}
                    {%- else -%}
                    {%- assign linkedin_url = 'https://www.linkedin.com/in/' | append: site.data.profile.linkedin -%}
                    {%- endif -%}
                    <li><a target="_blank" href="{{ linkedin_url }}">LinkedIn</a></li>
                    {% endif %}
                    {% if site.data.profile.gscholar %}
                    {%- if site.data.profile.gscholar contains 'scholar.google' -%}
                    {%- assign gscholar_url = site.data.profile.gscholar -%}
                    {%- else -%}
                    {%- assign gscholar_url = 'https://scholar.google.com/citations?user=' | append: site.data.profile.gscholar -%}
                    {%- endif -%}
                    <li><a target="_blank" href="{{ gscholar_url }}">Google Scholar</a></li>
                    {% endif %}
                    {% if site.data.profile.cv_link %}
                    <li><a target="_blank" href="{{ site.data.profile.cv_link | relative_url }}">CV (PDF)</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
