{% assign news_items = site.news | sort: "date" | reverse | slice: 0, include.limit -%}

<div class="my-3 bg-white shadow-sm rounded-xl content-card news-card">
    <h6 class="p-3 mb-0 border-bottom border-gray">News</h6>
    <div class="px-4 py-3">
        <ul class="news-plain-list mb-0">
        {% for item in news_items %}
            <li>
                <span class="news-date-tag">[{{ item.date | date: "%b. %Y" }}]</span>
                <span class="news-text">{{ item.title }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
